.wrap {
  padding: 50px;
  max-width: 90%;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 20px;
}

.productListWrap {
  margin: 0 auto 20px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.image {
  height: 300px;
  object-fit: contain;
  margin: 7px auto;
  width: 100%;
}

.pagination {
  text-align: center;
}

.notFound {
  text-align: center;
}

@media (max-width: 768px) {
  .wrap {
    padding: 20px 10px 10px;
  }

  .searchBar {
    flex-direction: column;
  }

  .searchForm {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .wrap {
    width: 100%;
    padding: 20px 0;
  }
}
