.wrap {
  margin: 20px;
}

.image {
  height: 300px;
  object-fit: contain;
  margin: 7px 5px;
  width: 100%;
}

.tileImage {
  margin: 7px auto;
  width: 100%;
}

.listImage {
  width: inherit;
  margin-right: 15px;
}

.carContentList {
  display: flex;
}

@media (max-width: 700px) {
  .image {
    height: 200px;
  }

  .productName {
    font-size: 14px;
  }

  .productPrice {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .wrap {
    margin: 10px;
  }

  .image {
    height: 150px;
  }

  .productName {
    font-size: 14px;
  }

  .productPrice {
    font-size: 17px;
  }
}
